* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	line-height: 1.25;
	background: #b20a2c;
	padding: 3%;
	margin: 0;
}

#imgWrapper {
	img {
		border-radius: .7em;
		width: 100%;
		height: auto;
		max-width: 1600px;
	}

	@media screen and (min-width: $tablet) {
		margin: 0;

		img {
			border-radius: 0;
		}
	}
}


@media screen and (min-width: $tablet) {
	body {
		padding: 0;
	}
}