* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.25;
	background: #b20a2c;
	padding: 3%;
	margin: 0;
}

#loader {
	.showtime & {
		opacity: 0;
		transition: opacity .3s .1s ease-in-out;
	}
}

#imgWrapper {
	position: relative;
	opacity: 0;

	img {
		border-radius: .7em;
		width: 100%;
		height: auto;
	}

	.showtime & {
		opacity: 1 !important;
		transition: opacity .23s ease-in-out;
	}

	@media screen and (min-width: $tablet) {
		margin: 0;

		img {
			border-radius: 0;
		}
	}
}

#shuffleTweet {
	display: flex;
	position: absolute;
	bottom: 2em;
	right: 2em;
	height: 2rem;
	width: 2rem;
	padding: .5em;
	background-color: transparentize(#fff, .3);
	border-radius: .2em;
	align-items: center;
	justify-content: center;
	transition: background-color .12s ease;

	svg {
		stroke: #665566;
		transition: transform .19s ease-in-out, stroke .08s ease-in;
		transform: scale(.9) rotate(0deg);
	}

	&:hover {
		background-color: transparentize(#fff, 0);

		svg {
			stroke: #b20a2c;
		}
	}

	&:active {
		
		svg {
			transform: scale(.8) rotate(180deg);
			stroke: #222;
		}
	}
}


@media screen and (min-width: $tablet) {
	body {
		padding: 0;
	}
}