* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.25;
	background: #b20a2c;
	padding: 3%;
	margin: 0;
	overflow: hidden;
}

#masterBlaster {
	position: relative;
	overflow: hidden;
}

#loader {
	.showtime & {
		opacity: 0;
		transition: opacity .3s .1s ease-in-out;
	}
}

#imgWrapper {
	position: relative;
	opacity: 0;

	img {
		border-radius: .7em;
		width: 100%;
		height: auto;
	}

	.showtime & {
		opacity: 1 !important;
		transition: opacity .23s ease-in-out;
	}

	@media screen and (min-width: $tablet) {
		margin: 0;

		img {
			border-radius: 0;
		}
	}
}

#whatthe🔥isthis {
	position: fixed;
	bottom: -3%;
	right: 0;
	display: inline-block;
	width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 0 180px 180px;
  border-color: transparent transparent #fff transparent;
	transform: rotate(0deg) translateX(0);
	transition: transform .3s ease-in-out;
	
	.openContent & {
		transform: rotate(0deg) translateX(20em);
	}
	
	a {
		font-size: 1.3em;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    top: 83px;
    left: -107px;
    position: relative;
    width: 123px;
    height: 93px;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    color: #323;
    transform: rotate(-45deg) perspective(0);
		line-height: 1.8em;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

#closeContent {
	display: inline-block;
	padding: 0.3em 0.6em .5em 0.6em;
	background-color: transparentize(#b20a2c, .1);
	border-radius: .2em;
	text-decoration: none;
	color: #fff;

	&:hover {
		background-color: transparentize(#b20a2c, 0);
	}
}

#aboutTrumpYells {
	position: absolute;
	opacity: 0;
	top: 2.5vh;
	left: 7.5vw;
	width: 85vw;
	max-height: 90vh;
	background: transparentize(#fff, .05);
	border-radius: .7em;
	padding: 1.3em 2em;
	transform: translateY(100vh);
	transition: transform .3s ease-in-out, opacity .3s ease-in-out;
	font-size: .8em;
	z-index: 100;
	overflow: auto;

	.openContent & {
		opacity: 1 !important;
		transform: translateY(3vh) !important;
	}
}

#shuffleTweet {
	display: flex;
	position: absolute;
	top: 2em;
	right: 2em;
	height: 2rem;
	width: 2rem;
	padding: .5em;
	background-color: transparentize(#b20a2c, .1);
	border-radius: .2em;
	align-items: center;
	justify-content: center;
	transition: background-color .12s ease;

	svg {
		stroke: #fff;
		transition: transform .19s ease-in-out, stroke .08s ease-in;
		transform: scale(.9) rotate(0deg);
	}

	&:hover {
		background-color: transparentize(#b20a2c, 0);

		svg {
			transform: scale(.9) rotate(30deg);
		}
	}

	&:active {
		
		svg {
			transform: scale(.8) rotate(180deg);
		}
	}
}

.ta-right {
	text-align: right;
}


@media screen and (min-width: $tablet) {
	body {
		padding: 0;
	}
}